
.porduct_review_container{
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid red;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
}

.images img{
    width: 150px;
    height: 150px;
}

.detail_delete{
    display: flex;
    justify-content:space-around;
}
.btn{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid red;
    cursor: pointer;
    background-color: rgb(228, 141, 141);
}
.icon{
    width: 30px;
    height: 30px;
    color: red;
}