.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
    margin-bottom: 50px;
}

.header a {
    text-decoration: none;
    margin-left: 20px;
    color: white;
    font-size: 17px;
}

.header a:hover{
    color: orange;
}