.form_container{
    margin: 0 auto;
    width: 600px;
    height: auto;
    border: 1.5px solid rgb(16, 5, 5);
    border-radius: 15px;
}

.form_container h1{
    text-align: center;
}

.form_container form{
    padding: 15px;
    
}

.form_container form input{
    display: flex;
    
    justify-content: center;
    width: 92%;
    padding: 15px;
    font-size: 20px;
}

.submit_btn{
    width: 90%;
    margin-left: 20px;
    padding: 13px 0;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(237, 210, 160);
}